In [1]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotInteractableException
import requests
import re

# Q1)

Scrape the details of most viewed videos on YouTube from Wikipedia

In [57]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/'
driver.get(url)

In [58]:
driver.find_element_by_xpath('//*[@id="noarticletext"]/tbody/tr/td/ul/li[2]/span/a/i').click()

In [59]:
driver.find_element_by_xpath("//span[@class='searchmatch']").click()

In [60]:
driver.find_element_by_xpath('/html/body/div[3]/div[3]/div[5]/div[1]/div[3]/ul/li[2]/a/span[2]').click()

In [105]:
name2 =[]
a = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tr/td[2]")
for i in a:                
    name2.append(i.text)

In [94]:
artist2=[]
b = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tr/td[3]")
for i in b:                      
    artist2.append(i.text)

In [64]:
artist2=[]
b = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tr/td[3]")
for i in b:                      
    artist2.append(i.text)

In [65]:

rank=[]
e = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tr/td[1]")
for i in e:
    rank.append(i.text)

In [101]:
print(len(rank),len(name2),len(artist2),len(date),len(view))

49 49 49 49 49

In [102]:
df = pd.DataFrame({})
df["Rank"] = rank[0:30]
df["Name"] = name2[0:30]
df["Artist"] = artist2[0:30]
df["Upload date"] = date[0:30]
df["Views"] = view[0:30]
df

,Rank,Name,Artist,Upload date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.74
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.39
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.43
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.34
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.13
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.44
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.20
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.14
8,9.,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.12
9,10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.08
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.91
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.48
12,13.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.44
13,14.,"""Dame Tu Cosita""[39]",El Chombo,"April 5, 2018",3.38
14,15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.36
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.31
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.27
17,18.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.08
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.08
19,20.,"""Wheels on the Bus""[45]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.07
20,21.,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.06
21,22.,"""Lean On""[47]",Major Lazer,"March 22, 2015",3.05
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",3.04
23,24.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.04
24,25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.00
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.93
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.86
27,28.,"""Hello""[53]",Adele,"October 22, 2015",2.84
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.84
29,30.,"""Axel F""[55]",Crazy Frog,"June 16, 2009",2.83

In [107]:
driver.close()

# Q2)

Scrape the details team India’s international fixtures from bcci.tv.

In [300]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.bcci.tv/'
driver.get(url)

In [301]:
q = driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']").click()

In [302]:
driver.get("https://www.bcci.tv/international/fixtures")

In [303]:
match=[]
series=[]
place=[]
date=[]
time=[]

In [304]:
p = driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for d in p:
    match.append(d.text)

In [305]:
match

['Final',
 '1st ODI',
 '2nd ODI',
 '3rd ODI',
 '1st T20I',
 '2nd T20I',
 '3rd T20I',
 '1st Test',
 '2nd Test',
 '3rd Test',
 '4th Test',
 '5th Test']

In [306]:
pl = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']//span")
for d in pl:
    place.append(d.text)

In [307]:
place

['The Ageas Bowl, Southampton',
 'R Premadasa Stadium, Colombo',
 'R Premadasa Stadium, Colombo',
 'R Premadasa Stadium, Colombo',
 'R Premadasa Stadium, Colombo',
 'R Premadasa Stadium, Colombo',
 'R Premadasa Stadium, Colombo',
 'Trent Bridge, Nottingham',
 "Lord's, London",
 'Headingley, Leeds',
 'The Oval, London',
 'Old Trafford, Manchester']

In [308]:
d = driver.find_elements_by_xpath("//span[@class='fixture__time']")
for i in d:
    time.append(i.text)
time

['15:00 IST',
 '14:30 IST',
 '14:30 IST',
 '14:30 IST',
 '19:00 IST',
 '19:00 IST',
 '19:00 IST',
 '15:30 IST',
 '15:30 IST',
 '15:30 IST',
 '15:30 IST',
 '15:30 IST']

In [312]:
url = []
q = driver.find_elements_by_xpath("//div[@class='js-list']/a")
for i in q :
    url.append(i.get_attribute("href"))

In [313]:
for i in url:
    driver.get(i)
    
    try:
        a = driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/strong")
        date.append(a.text)
    except NoSuchElementException:
        date.append('-')

In [320]:
series1=[]
for i in url:
    driver.get(i)
    
    driver.find_element_by_xpath("//a[@class='mc-header-info__match-description-link mc-theme-color']").click()
    p = driver.find_element_by_xpath("//div[@class='tournament-info__match-types']")
    series1.append(p.text)

In [321]:
series1

['1 Test',
 '3 T20I 3 ODI',
 '3 T20I 3 ODI',
 '3 T20I 3 ODI',
 '3 T20I 3 ODI',
 '3 T20I 3 ODI',
 '3 T20I 3 ODI',
 '5 Test',
 '5 Test',
 '5 Test',
 '5 Test',
 '5 Test']

In [287]:
date

['Friday 18 June',
 'Tuesday 13 July',
 'Friday 16 July',
 'Sunday 18 July',
 'Wednesday 21 July',
 'Friday 23 July',
 'Sunday 25 July',
 'Wednesday 4 August',
 'Thursday 12 August',
 'Wednesday 25 August',
 'Thursday 2 September',
 'Friday 10 September']

In [323]:
df = pd.DataFrame({})
df["Match"] = match
df["Series"] = series1
df["Place"] = place
df["Date"] = date
df["Time"] = time
df

,Match,Series,Place,Date,Time
0,Final,1 Test,"The Ageas Bowl, Southampton",Friday 18 June,15:00 IST
1,1st ODI,3 T20I 3 ODI,"R Premadasa Stadium, Colombo",Tuesday 13 July,14:30 IST
2,2nd ODI,3 T20I 3 ODI,"R Premadasa Stadium, Colombo",Friday 16 July,14:30 IST
3,3rd ODI,3 T20I 3 ODI,"R Premadasa Stadium, Colombo",Sunday 18 July,14:30 IST
4,1st T20I,3 T20I 3 ODI,"R Premadasa Stadium, Colombo",Wednesday 21 July,19:00 IST
5,2nd T20I,3 T20I 3 ODI,"R Premadasa Stadium, Colombo",Friday 23 July,19:00 IST
6,3rd T20I,3 T20I 3 ODI,"R Premadasa Stadium, Colombo",Sunday 25 July,19:00 IST
7,1st Test,5 Test,"Trent Bridge, Nottingham",Wednesday 4 August,15:30 IST
8,2nd Test,5 Test,"Lord's, London",Thursday 12 August,15:30 IST
9,3rd Test,5 Test,"Headingley, Leeds",Wednesday 25 August,15:30 IST
10,4th Test,5 Test,"The Oval, London",Thursday 2 September,15:30 IST
11,5th Test,5 Test,"Old Trafford, Manchester",Friday 10 September,15:30 IST

In [324]:
driver.close()

# Q3)

Scrape the details of selenium exception from guru99.com

In [62]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.guru99.com/'
driver.get(url)

In [63]:
driver.find_element_by_xpath('//*[@id="java_technologies"]/li[3]/a').click()

In [64]:
driver.find_element_by_xpath('/html/body/div[2]/section[3]/div/div[1]/main/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a/strong').click()

In [65]:
name =[]
description=[]

In [66]:

s = driver.find_elements_by_xpath("//table[@class='table table-striped']//tr/td[1]")
for i in s:
    name.append(i.text)

In [70]:
len(name)

42

In [68]:

p = driver.find_elements_by_xpath("//table[@class='table table-striped']//tr/td[2]")
for i in p:
    description.append(i.text)

In [69]:
description

['Description',
 'This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 "Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time.",
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 "It occurs when command can't be finished when the element is invalid.",
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 "This occurs when remote WebDriver does n't send valid commands as expected."]

In [71]:
df = pd.DataFrame({})
df["Name"] = name[1:42]
df["Description"] = description[1:42]
df

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [72]:
driver.close()

# Q4)

Scrape the details of State-wise GDP of India from statisticstime.com.

In [150]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'http://statisticstimes.com/'
driver.get(url)

In [124]:
driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button').click()

In [125]:
driver.get('http://statisticstimes.com/economy/india-statistics.php')

In [126]:
driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()

In [127]:
rank = []
state = []
price1 = []
price2 = []
Share = []
GDP = []

In [128]:
r = driver.find_elements_by_xpath("//td[@class='data1']")
for d in r :
    rank.append(d.text)

In [129]:
q = driver.find_elements_by_xpath("//td[@class='name']")
for d in q :
    state.append(d.text)
    
p = driver.find_elements_by_xpath('//tr[@role="row"]/td[3]')  
for d in p :
    price1.append(d.text)
    
s = driver.find_elements_by_xpath("//td[@class='data sorting_1']")
for d in s :
    price2.append(d.text)
    
t = driver.find_elements_by_xpath("//tr[@role='row']/td[5]")
for d in t :
    Share.append(d.text)
    
u = driver.find_elements_by_xpath("//tr[@role='row']/td[6]")   
for d in u :
    GDP.append(d.text)

In [135]:
df = pd.DataFrame({})
df["Rank"] = rank[0:33]
df["State"] = state[0:33]
df["GSDP at current price (19-20)"] = price1[0:33]
df["GSDP at current price (18-19)"] = price2[0:33]
df["Share(18-19)"] = Share[0:33]
df["GDP($ billion)"] = GDP[0:33]
df

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [151]:
driver.close()

# Q5)

Scrape the details of trending repositories on Github.com.

In [4]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://github.com/'
driver.get(url)

In [5]:
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary').click()

In [6]:
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a').click()

In [7]:
repository=[]
description =[]
contributor = []
language_used =[]

In [7]:
a = driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in a:
    repository.append(i.text)

In [8]:
url=[]
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
    url.append(i.get_attribute("href"))

In [9]:
for i in url:
    driver.get(i)
    language = []  
    
    
        
    languages = driver.find_elements_by_xpath("//li[@class='d-inline']//a//span[1]")
    if languages:
        for i in languages:
            language.append(i.text)
    else:
        language.append('no language used')
    language_used.append(language)

In [10]:
for i in url:
    driver.get(i)
    time.sleep(2)
  
    try:
        c = driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        contributor.append(c.text)
    except NoSuchElementException:
        contributor.append('-')



    try:
        k = driver.find_element_by_xpath("//p[@class='f4 mt-3']")
        description.append(k.text)
    except NoSuchElementException:
        description.append('-')

In [11]:
print(len(repository),len(description),len(contributor),len(language_used))

25 25 25 25

In [12]:
df = pd.DataFrame({"Repository":repository,"Description":description,"Contributors count":contributor,"Language_used":language_used})
df

,Repository,Description,Contributors count,Language_used
0,facebookresearch / AugLy,"A data augmentations library for audio, image,...",5,[Python]
1,programthink / zhao,【编程随想】整理的《太子党关系网络》，专门揭露赵国的权贵,2,[Python]
2,megaease / easegress,A Cloud Native traffic orchestration system,14,[Go]
3,keras-team / keras,Deep Learning for humans,883,"[Python, Starlark, Shell]"
4,ibraheemdev / modern-unix,A collection of modern/faster/saner alternativ...,6,[no language used]
5,tailwindlabs / tailwindcss,A utility-first CSS framework for rapid UI dev...,177,"[JavaScript, CSS, HTML]"
6,n8n-io / n8n,Free and open fair-code licensed node based Wo...,173,"[TypeScript, Vue, SCSS, JavaScript, Dockerfile..."
7,harvester / harvester,Open source hyperconverged infrastructure (HCI...,23,"[Go, Mustache, Shell]"
8,organicmaps / organicmaps,"🍃 Organic Maps is a better fork of MAPS.ME, an...",139,"[C++, C, Java, HTML, Python, Objective-C++]"
9,longhorn / longhorn,Cloud-Native distributed block storage built o...,37,"[Shell, Python, Mustache]"
10,rancher / rancher,Complete container management platform,165,"[Go, Python, Groovy, Shell, PowerShell, HCL]"
11,rustdesk / rustdesk,Yet another remote desktop software,7,"[Rust, HTML, CSS]"
12,kwai / DouZero,[ICML 2021] DouZero: Mastering DouDizhu with S...,2,"[Python, Shell]"
13,cariboulabs / cariboulite,CaribouLite turns any 40-pin Raspberry-Pi into...,3,"[C, AGS Script, Verilog]"
14,willmcgugan / textual,A Text User Interface with Rich as the renderer,4,[Python]
15,prisma / prisma,Next-generation ORM for Node.js & TypeScript |...,116,"[TypeScript, JavaScript]"
16,apache / incubator-shenyu,ShenYu is High-Performance Java API Gateway.,172,[Java]
17,academic / awesome-datascience,📝 An awesome Data Science repository to learn ...,141,[no language used]
18,vxunderground / MalwareSourceCode,Collection of malware source code for a variet...,4,"[Assembly, C, Brainfuck, Roff, Limbo, E]"
19,bats3c / DarkLoadLibrary,LoadLibrary for offensive operations,2,[C]
20,EssayKillerBrain / EssayKiller_V2,基于开源GPT2.0的初代创作型人工智能 | 可扩展、可进化,-,"[Python, C, Java, Jupyter Notebook, C++, Shell]"
21,gohugoio / hugo,The world’s fastest framework for building web...,708,[Go]
22,thanos-io / thanos,Highly available Prometheus setup with long te...,356,"[Go, TypeScript, Jsonnet, JavaScript, HTML, Ma..."
23,benthecoder / yt-channels-DS-AI-ML-CS,A comprehensive list of YouTube Channels for D...,5,[no language used]
24,AkashSingh3031 / The-Complete-FAANG-Preparation,This repository contains all the DSA (Data-Str...,16,"[Jupyter Notebook, Python, JavaScript, C++, HT..."

In [13]:
driver.close()

# Q6)

Scrape the details of top 100 songs on billboard.com

In [38]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.billboard.com/'
driver.get(url)

In [39]:
driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/header/div/ul/li[1]/a').click()

In [40]:
driver.find_element_by_xpath('//*[@id="main"]/div[2]/div/div[1]/a/div[2]/div[2]/div[1]').click()

In [41]:
Song = []
artist = []
wk_rank=[]
pk_rank=[]
wks=[]

In [49]:
a = driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in a :
    Song.append(i.text)

In [50]:
b = driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in b :
    artist.append(i.text)

In [42]:
c = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in c :
    wk_rank.append(i.text)

In [44]:
d = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in d :
    pk_rank.append(i.text)

In [46]:
e = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in e :
    wks.append(i.text)

In [51]:
print(len(Song),len(artist),len(wk_rank),len(pk_rank),len(wks))

100 100 100 100 100

In [52]:
df = pd.DataFrame({})
df["Song name"] = Song
df["Artist name"] = artist
df["Last week rank"] = wk_rank
df["Peak rank"] = pk_rank
df["Weeks on board"] = wks
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25
...,...,...,...,...,...
95,All I Know So Far,P!nk,87,74,3
96,Hold On,Justin Bieber,86,20,13
97,Wasted On You,Morgan Wallen,98,9,19
98,Outside,MO3 X OG Bobby Billions,-,99,1
99,Botella Tras Botella,Gera MX + Christian Nodal,-,60,4

In [53]:
driver.close()

# Q7)

Scrape the details of Data science recruiters from naukri.com

In [525]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.naukri.com/hr-recruiters-consultants'
driver.get(url)

In [526]:

sr = driver.find_element_by_xpath("//div[@class='inpWrap']/input")
sr.clear()
sr.send_keys("Data science")

In [527]:
driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

In [528]:
name = []
designation=[]
company = []
location = []
hire = []

In [529]:
a = driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in a :
    name.append(i.text)

In [530]:
b = driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in b :
    designation.append(i.text)

In [531]:
c = driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
for i in c :
    company.append(i.text)

In [532]:
url=[]
for i in driver.find_elements_by_xpath("//p[@class='highlightable']/a"):
    url.append(i.get_attribute("href"))

In [533]:
e = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in e:
    hire.append(i.text)

In [534]:
for i in url:
    driver.get(i)
    
    try:
        d = driver.find_element_by_xpath("//div[@class ='rFrame fl infoWrapper']/div[5]/a")
        location.append(d.text)
    except NoSuchElementException:
        location.append("-")

In [536]:
print(len(name),len(designation),len(company),len(hire),len(location))

50 50 50 50 100

In [537]:
df = pd.DataFrame({})
df["Name"] = name
df["Designation"] = designation
df["Company"]= company
df["Skills they hire for"] = hire
df["Location"] = location[0:100:2]
df

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
32,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
33,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",
48,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
49,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai

In [538]:
driver.close()

# Q8)

 Scrape the details of Highest selling novels.

In [42]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [43]:
title = []
author = []
volume_sale = []
publisher = []
genre = []

In [44]:
a = driver.find_elements_by_xpath("//table[@class='in-article sortable']//td[2]")
for d in a :
    title.append(d.text)

In [47]:
b = driver.find_elements_by_xpath("//table[@class='in-article sortable']//td[3]")
for d in b :
    author.append(d.text)

In [50]:
c = driver.find_elements_by_xpath("//table[@class='in-article sortable']//td[4]")
for d in c :
    volume_sale.append(d.text)

In [52]:
d = driver.find_elements_by_xpath("//table[@class='in-article sortable']//td[5]")
for i in d :
    publisher.append(i.text)

In [54]:
e = driver.find_elements_by_xpath("//table[@class='in-article sortable']//td[6]")
for d in e :
    genre.append(d.text)

In [56]:
print(len(title),len(author),len(volume_sale),len(publisher),len(genre))

100 100 100 100 100

In [57]:
df = pd.DataFrame({})
df["Book name"] = title
df["Author name"] = author
df["Volumes sold"] = volume_sale
df["Publisher"] = publisher
df["Genre"] = genre
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [58]:
driver.close()

# Q9)

Scrape the details most watched tv series of all time from imdb.com.

In [90]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [91]:
name =[]
year=[]
genre=[]
time = []
rating = []
vote = []

In [92]:
a = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for d in a :
    name.append(d.text)

In [93]:
b = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
for d in b :
    year.append(d.text)

In [94]:
c = driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")
for d in c :
    genre.append(d.text)

In [95]:
d = driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")
for i in d :
    time.append(i.text)

In [96]:
e = driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
for i in e :
    rating.append(i.text)

In [98]:
f = driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[2]")
for i in f :
    vote.append(i.text)

In [101]:
df = pd.DataFrame({})
df["Name"] = name
df["Year span"] = year
df["Genre"] = genre
df["Run time"] = time
df["Ratings"] = rating
df["Votes"] = vote[1:200:2]
df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,822,111"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"863,040"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"874,115"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,548"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"223,870"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,556"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,043"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,527"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,867"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,239"

In [102]:
driver.close()

# Q10)

Details of Datasets from UCI machine learning repositories

In [59]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://archive.ics.uci.edu/ml/index.php'
driver.get(url)

In [60]:
driver.find_element_by_xpath("//span[@class='whitetext']//b").click()

In [61]:
name =[]
types= []
task = []
atribute=[]
instance =[]
no_atri=[]
year=[]

In [62]:
a = driver.find_elements_by_xpath("//p[@class='normal']/b/a")
for i in a:
    name.append(i.text)

In [63]:
b = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p')
for i in b:
    types.append(i.text)

In [64]:
b = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p')
for i in b:
    task.append(i.text)

In [65]:
b = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p')
for i in b:
    atribute.append(i.text)

In [66]:
b = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p')
for i in b:
    instance.append(i.text)

In [67]:
b = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')
for i in b:
    no_atri.append(i.text)

In [68]:
b = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p')
for i in b:
    year.append(i.text)

In [69]:
print(len(name),len(types),len(task),len(atribute),len(instance),len(no_atri),len(year))

588 589 589 589 589 589 589

In [70]:
df = pd.DataFrame({"Dataset name":name,"Data type":types[1:589],"Task":task[1:589],"Attribute type":atribute[1:589],"No of instances":instance[1:589],"No of attribute":no_atri[1:589],"Year":year[1:589]})
df

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

In [71]:
driver.close()