In [1]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotInteractableException
import requests
import re

1) Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
driver = webdriver.Chrome(r'C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe')
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/'
driver.get(url)

In [4]:
driver.find_element_by_xpath('//*[@id="noarticletext"]/tbody/tr/td/ul/li[2]/span/a/i').click()

In [5]:
driver.find_element_by_xpath("//span[@class='searchmatch']").click()

In [7]:
rank=[]
e = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tr/td[1]")
for i in e:
    rank.append(i.text)

In [8]:
name2 =[]
a = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tr/td[2]")
for i in a:                
    name2.append(i.text)

In [9]:
artist2=[]
b = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tr/td[3]")
for i in b:                      
    artist2.append(i.text)

In [10]:
date=[]
b = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tr/td[5]")
for i in b:                      
    date.append(i.text)

In [11]:
views=[]
b = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tr/td[4]")
for i in b:                      
    views.append(i.text)

In [13]:
df = pd.DataFrame({})
df["Rank"] = rank[0:30]
df["Name"] = name2[0:30]
df["Artist"] = artist2[0:30]
df["Upload date"] = date[0:30]
df["Views"] = views[0:30]
df

,Rank,Name,Artist,Upload date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.73
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.14
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.69
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.15
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.97
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.86
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.26
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",5.14
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.89
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.87
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.77
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.32
13,14.,"""Axel F""[34]",Crazy Frog,"June 16, 2009",3.87
14,15.,"""Sugar""[35]",Maroon 5,"January 14, 2015",3.86
15,16.,"""Roar""[36]",Katy Perry,"September 5, 2013",3.78
16,17.,"""Counting Stars""[37]",OneRepublic,"May 31, 2013",3.77
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.65
18,19.,"""Baa Baa Black Sheep""[39]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.61
19,20.,"""Thinking Out Loud""[40]",Ed Sheeran,"October 7, 2014",3.58
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.56
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.50
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.44
23,24.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.42
24,25.,"""Lakdi Ki Kathi""[45]",Jingle Toons,"June 14, 2018",3.42
25,26.,"""Let Her Go""[46]",Passenger,"July 25, 2012",3.42
26,27.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.40
27,28.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.38
28,29.,"""Lean On""[49]",Major Lazer,"March 22, 2015",3.37
29,30.,"""Bailando""[50]",Enrique Iglesias,"April 11, 2014",3.37

In [18]:
driver.close()

2. Scrape the details teamIndia’sinternationalfixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [2]:
driver = webdriver.Chrome(r'C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe')
url = 'https://www.bcci.tv/'
driver.get(url)

In [3]:
dropdown = driver.find_element_by_xpath('//*[@id="navigation"]/ul[1]/li[2]/a')
dropdown.click()

In [4]:
match=[]
place=[]
date=[]
time=[]

In [5]:
pl = driver.find_elements_by_xpath('//*[@id="match-card"]/div[3]/div/span[3]')
for d in pl:
    place.append(d.text)

In [6]:
place

['London']

In [7]:
d = driver.find_elements_by_xpath('//*[@id="match-card"]/div[1]/div/div[2]')
for i in d:
    time.append(i.text)
time

['3:30 PM IST']

In [8]:
p = driver.find_elements_by_xpath('//*[@id="match-card"]/div[1]/h5')
for d in p:
    match.append(d.text)
match

['ICC WORLD TEST CHAMPIONSHIP FINAL 2023']

In [9]:
d = driver.find_elements_by_xpath("//div[@class='match-dates ng-binding']")
for i in d:
    date.append(i.text)
date

['7 JUN 2023']

In [10]:
df = pd.DataFrame({})
df["Match"] = match
df["Place"] = place
df["Date"] = date
df["Time"] = time
df

                                    Match   Place        Date         Time
0  ICC WORLD TEST CHAMPIONSHIP FINAL 2023  London  7 JUN 2023  3:30 PM IST

In [11]:
driver.close()

3. Scrape the details of State-wise GDP ofIndia fromstatisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [12]:
driver = webdriver.Chrome(r'C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe')
url = 'http://statisticstimes.com/'
driver.get(url)

In [13]:
driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button').click()

In [14]:
driver.get('http://statisticstimes.com/economy/india-statistics.php')

In [15]:
driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()

In [16]:
rank = []
state = []
price1 = []
price2 = []
Share = []
GDP = []

In [17]:
r = driver.find_elements_by_xpath("//td[@class='data1']")
for d in r :
    rank.append(d.text)
q = driver.find_elements_by_xpath("//td[@class='name']")
for d in q :
    state.append(d.text)
    
p = driver.find_elements_by_xpath('//tr[@role="row"]/td[3]')  
for d in p :
    price1.append(d.text)
    
s = driver.find_elements_by_xpath("//td[@class='data sorting_1']")
for d in s :
    price2.append(d.text)
    
t = driver.find_elements_by_xpath("//tr[@role='row']/td[5]")
for d in t :
    Share.append(d.text)
    
u = driver.find_elements_by_xpath("//tr[@role='row']/td[6]")   
for d in u :
    GDP.append(d.text)

In [18]:
df = pd.DataFrame({})
df["Rank"] = rank[0:33]
df["State"] = state[0:33]
df["GSDP at current price (19-20)"] = price1[0:33]
df["GSDP at current price (18-19)"] = price2[0:33]
df["Share(18-19)"] = Share[0:33]
df["GDP($ billion)"] = GDP[0:33]
df

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [19]:
driver.close()

4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code

In [33]:
driver = webdriver.Chrome(r'C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe')
url = 'https://github.com/'
driver.get(url)

In [34]:
driver.find_element_by_xpath('/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button').click()

In [35]:
driver.find_element_by_xpath('/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a').click()

In [47]:
repository=[]
description =[]
contributor = []
language_used =[]

In [39]:
url=[]
for i in driver.find_elements_by_xpath("//h2[@class='h3 lh-condensed']/a"):
    url.append(i.get_attribute("href"))

In [48]:
for i in url:
    driver.get(i)
    
    
    
    try:
        c = driver.find_element_by_xpath('//*[@id="readme"]/div[2]/article/h1')
        repository.append(c.text)
    except NoSuchElementException:
        repository.append('-')

    
    
    language = []     
    languages = driver.find_elements_by_xpath("//li[@class='d-inline']//a//span[1]")
    if languages:
        for i in languages:
            language.append(i.text)
    else:
        language.append('no language used')
    language_used.append(language)
    
    
    
    
    try:
        c = driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        contributor.append(c.text)
    except NoSuchElementException:
        contributor.append('-')



    try:
        k = driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div/div[2]/div[2]/div/div[1]/div/p')
        description.append(k.text)
    except NoSuchElementException:
        description.append('-')

In [52]:
df = pd.DataFrame({"Repository":repository,"Description":description,"Contributors count":contributor,"Language_used":language_used})
df

,Repository,Description,Contributors count,Language_used
0,"GPT4free - use ChatGPT, for free!!","decentralising the Ai Industry, free gpt-4/3.5...",23,"[Python, Dockerfile]"
1,Rye,an experimental alternative to poetry/pip/pipe...,13,"[Rust, NASL, Python, Makefile]"
2,-,😎 Awesome lists about all kinds of interesting...,556,[no language used]
3,Agent-LLM (Large Language Model),An Artificial Intelligence Automation Platform...,11,"[Python, JavaScript, Jupyter Notebook, CSS, Do..."
4,Chart-GPT - text to beautiful charts within se...,AI tool to build charts based on text input,11,"[TypeScript, CSS, JavaScript]"
5,dndserver,Dark and Darker private server implementation ...,8,[Python]
6,AI 法律助手,⚖️ AI 法律助手,2,"[TypeScript, CSS, PLpgSQL, JavaScript]"
7,PentestGPT,A GPT-empowered penetration testing tool,3,"[Python, HTML]"
8,-,交易模块,-,[Python]
9,-,"🤖 Assemble, configure, and deploy autonomous A...",6,"[TypeScript, JavaScript, Shell, CSS, Dockerfile]"
10,Computer Science courses with video lectures,List of Computer Science courses with video le...,87,[no language used]
11,-,Examples and tutorials on using SOTA computer ...,9,[Jupyter Notebook]
12,Databerry,The no-code platform for connecting custom dat...,3,"[TypeScript, JavaScript, CSS]"
13,-,"A cross-platform, customizable science fiction...",60,"[JavaScript, CSS, HTML]"
14,🐶 Bark,🔊 Text-Prompted Generative Audio Model,7,"[Python, Jupyter Notebook]"
15,ChatGPT Clone,ChatGPT interface with better UI,8,"[Python, JavaScript, CSS, HTML, Dockerfile]"
16,闻达：一个大规模语言模型调用平台,闻达：一个LLM调用平台。为小模型外挂知识库查找和设计自动执行动作，实现不亚于于大模型的生成能力,11,"[CSS, Python, JavaScript, HTML]"
17,Contents,A terminal for a more modern age,107,"[TypeScript, Pug, SCSS, JavaScript, C++, Batch..."
18,Auto-GPT MetaTrader Plugin 📈,-,2,"[Python, Batchfile, Shell, Makefile]"
19,Bullet Train Application Template,The Open Source Ruby on Rails SaaS Template,38,"[Ruby, JavaScript, Shell, HTML]"
20,QuiLLMan: Voice Chat with LLMs,A chat app that transcribes audio in real-time...,2,"[JavaScript, Python, CSS, HTML]"
21,twitter-archives,A collection of archived stuff from Twitter,3,[no language used]
22,-,bloop is a fast code search engine written in ...,15,"[TypeScript, Rust, CSS, Scheme, JavaScript, Nix]"
23,简介,"Wechat robot based on ChatGPT, which using Ope...",24,"[Python, Shell]"
24,L♾️pGPT,Modular Auto-GPT Framework,8,[Python]

In [54]:
driver.close()

5. Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [55]:
driver = webdriver.Chrome(r'C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe')
url = 'https://www.billboard.com/'
driver.get(url)

In [57]:
driver.find_element_by_xpath('/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()

In [58]:
driver.find_element_by_xpath('/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a').click()

In [63]:
Song = []
artist = []
wk_rank=[]
pk_rank=[]
wks=[]

In [97]:
a = driver.find_elements_by_xpath('//*[@id="title-of-a-story"]')
for i in a :
    Song.append(i.text)

b = driver.find_elements_by_xpath('//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]//li[4]/ul/li[1]/span')
for i in b :
    artist.append(i.text)   
    
c = driver.find_elements_by_xpath('//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]//li[4]/ul/li[4]/span')
for i in c :
    wk_rank.append(i.text)
        
d = driver.find_elements_by_xpath('//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]//li[5]/span')
for i in d :
    pk_rank.append(i.text)
    
e = driver.find_elements_by_xpath('//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]//li[6]/span')
for i in e :
    wks.append(i.text)

In [106]:
df = pd.DataFrame({})
df["Song name"] = Song[6:406:4]
df["Artist name"] = artist[1:]
df["Last week rank"] = wk_rank[1:]
df["Peak rank"] = pk_rank[1::2]
df["Weeks on board"] = wks[1:]
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Kill Bill,SZA,4,1,19
1,Last Night,Morgan Wallen,1,1,12
2,Flowers,Miley Cyrus,3,1,14
3,Princess Diana,Ice Spice & Nicki Minaj,-,4,1
4,Ella Baila Sola,Eslabon Armado X Peso Pluma,10,5,5
...,...,...,...,...,...
95,Memory Lane,Old Dominion,96,96,3
96,Love Again,The Kid LAROI,88,40,12
97,'98 Braves,Morgan Wallen,100,27,7
98,Di Que Si,Grupo Marca Registrada X Grupo Frontera,-,99,1
99,It Matters To Her,Scotty McCreery,-,100,1

In [107]:
driver.close()

6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [108]:
driver = webdriver.Chrome(r'C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe')
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [112]:
title = []
author = []
volume_sale = []
publisher = []
genre = []

In [113]:
a = driver.find_elements_by_xpath("//table[@class='in-article sortable']//td[2]")
for d in a :
    title.append(d.text)
    
b = driver.find_elements_by_xpath("//table[@class='in-article sortable']//td[3]")
for d in b :
    author.append(d.text)
    
c = driver.find_elements_by_xpath("//table[@class='in-article sortable']//td[4]")
for d in c :
    volume_sale.append(d.text)
    
d = driver.find_elements_by_xpath("//table[@class='in-article sortable']//td[5]")
for i in d :
    publisher.append(i.text)
    
e = driver.find_elements_by_xpath("//table[@class='in-article sortable']//td[6]")
for d in e :
    genre.append(d.text)

In [114]:
df = pd.DataFrame({})
df["Book name"] = title
df["Author name"] = author
df["Volumes sold"] = volume_sale
df["Publisher"] = publisher
df["Genre"] = genre
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [115]:
driver.close()

7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [116]:
driver = webdriver.Chrome(r'C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe')
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [117]:
name =[]
year=[]
genre=[]
time = []
rating = []
vote = []

In [118]:
a = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for d in a :
    name.append(d.text)
    
b = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
for d in b :
    year.append(d.text)
    
c = driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")
for d in c :
    genre.append(d.text)
    
d = driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")
for i in d :
    time.append(i.text)
    
e = driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
for i in e :
    rating.append(i.text)
    
f = driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[2]")
for i in f :
    vote.append(i.text)

In [120]:
df = pd.DataFrame({})
df["Name"] = name
df["Year span"] = year
df["Genre"] = genre
df["Run time"] = time
df["Ratings"] = rating
df["Votes"] = vote[1:200:2]
df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,153,759"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,235,752"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,023,113"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"301,074"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"260,009"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,400"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,440"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"206,848"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"42,941"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"256,485"

In [121]:
driver.close()

8. Details of Datasetsfrom UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [122]:
driver = webdriver.Chrome(r'C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe')
url = 'https://archive.ics.uci.edu/ml/index.php'
driver.get(url)

In [123]:
driver.find_element_by_xpath("//span[@class='whitetext']//b").click()

In [124]:
name =[]
types= []
task = []
atribute=[]
instance =[]
no_atri=[]
year=[]

In [125]:
a = driver.find_elements_by_xpath("//p[@class='normal']/b/a")
for i in a:
    name.append(i.text)
    
b = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p')
for i in b:
    types.append(i.text)
    
b = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p')
for i in b:
    task.append(i.text)
    
b = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p')
for i in b:
    atribute.append(i.text)
    
b = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p')
for i in b:
    instance.append(i.text)
    
b = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')
for i in b:
    no_atri.append(i.text)
    
b = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p')
for i in b:
    year.append(i.text)

In [127]:
print(len(name),len(types),len(task),len(atribute),len(instance),len(no_atri),len(year))

622 623 623 623 623 623 623

In [128]:
df = pd.DataFrame({"Dataset name":name,"Data type":types[1:],"Task":task[1:],"Attribute type":atribute[1:],"No of instances":instance[1:],"No of attribute":no_atri[1:],"Year":year[1:]})
df

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [129]:
driver.close()

9.Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details: 
A) Name
B) Designation
C)Company 
D)Skills they hire for 
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [130]:
driver = webdriver.Chrome(r'C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe')
url = 'https://www.naukri.com/hr-recruiters-consultants'
driver.get(url)

In [131]:
sr = driver.find_element_by_xpath("//div[@class='inpWrap']/input")
sr.clear()
sr.send_keys("Data science")

In [132]:
driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

In [136]:
name = []
designation=[]
company = []
location = []
hire = []

In [137]:
a = driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in a :
    name.append(i.text)
    
b = driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in b :
    designation.append(i.text)
    
c = driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
for i in c :
    company.append(i.text)
    
e = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in e:
    hire.append(i.text)

In [138]:
url=[]
for i in driver.find_elements_by_xpath("//p[@class='highlightable']/a"):
    url.append(i.get_attribute("href"))

In [139]:
for i in url:
    driver.get(i)
    
    try:
        d = driver.find_element_by_xpath("//div[@class ='rFrame fl infoWrapper']/div[5]/a")
        location.append(d.text)
    except NoSuchElementException:
        location.append("-")

In [143]:
print(len(name),len(designation),len(company),len(hire),len(location))

50 50 50 50 100

In [144]:
df = pd.DataFrame({})
df["Name"] = name
df["Designation"] = designation
df["Company"]= company
df["Skills they hire for"] = hire
df["Location"] = location[0:100:2]
df

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
14,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
32,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Noida
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
35,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
36,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
49,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai

In [145]:
driver.close()